.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #f6fcfe;
}

.header__leftSection {
    margin: 20px;
}

.header__logo {
  object-fit: contain;
  height: 80px;
}

.header__middleSection {
    display: flex;
}

.header__combineOptions {
    display: flex;
    flex-direction: column;
}

.header__combineOptions > .MuiButton-root {
    margin: 14px;
    font-weight: bold;
}

.header__rightSection {
    margin: 20px;
}

.header__rightSection > .MuiButton-root {
    border: 1px solid;
    border-radius: 999rem;
    width: 165px;
    text-transform: none;
    background-color: hsla(166, 82%, 45%, 1);
    /* background-color: #00c397; */
    color: white;
}

.header__rightSection > .MuiButton-root:hover {
    background-color: #00c397;
}