.home {
  height: 200vh;
  background-color: #f6fcfe;
}

.home__covid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(263, 47%, 18%, 1);
  color: white;
  height: 45px;
  font-size: 18px;
}

.home__main {
  display: flex;
  width: 100%;
}

.home__mainLeft {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  margin-top: 14%;
  margin-left: 4%;
  /* height: 100vh; */
}

.home__firstLeft {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* height: 100%; */
  margin-bottom: 100%;
  /* height: 100vh; */
}

.home__firstLeft > h3 {
  margin-bottom: 30px;
  font-weight: bolder;
  font-size: larger;
  color: #291843;
}

.home__firstLeft > span {
  color: #291843;
  font-size: 51px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
}

.home__secondLeft > span {
  color: #291843;
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
}

.home__firstLeft > h1 {
  font-weight: bolder;
  font-size: 50px;
  color: hsla(263, 47%, 18%, 1);
}

.home__firstLeft > p {
  margin-top: 40px;
  line-height: 30px;
  color: #291843;
}

.home__firstLeft > .MuiButton-root {
  border: 1px solid;
  width: 200px;
  margin-top: 45px;
  background-color: hsla(166, 82%, 45%, 1);
  color: white;
  text-transform: none;
  border-radius: 999rem;
  height: 50px;
  font-weight: bolder;
}

.home__firstParagraph {
  width: 540px;
}

.home__secondParagraph {
    margin-top: 25px;
    width: 540px;
    font-size: 16px;
    line-height: 25px;
}

.home__mainRight {
  flex: 0.3;
  /* width: 100px; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home__phone {
  /* position: absolute; */
  width: 300px;
  /* right: 20px; */
  /* height: 500px; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
